* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: bisque;
}

#users,
#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.user {
  min-width: 250px;
  border-right: 1px solid whitesmoke;
  min-height: 50px;
  margin: 20px;
  cursor: pointer;
  max-width: 300px;
}
.user h3 {
  transition: all 0.3s;
}
.user:hover h3 {
  transform: scale(1.1);
}
.user:last-child {
  border: none;
}
