@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1e1f22;
}

::-webkit-scrollbar-thumb {
  background: #6a79fa;
  border-radius: 10px;
}

html {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  font-family: Space Grotesk, Helvetica, Arial, sans-serif;
}

.gradient-button {
  /* @apply bg-gradient-to-r from-[#f43e72] to-red-500; */
  @apply bg-gradient-to-r from-[#f43e72] to-[#ff726b];
  /* --tw-gradient-from: #f43e72;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(244, 62, 114, 0));
    --tw-gradient-to: #ff726b;
    background-image: linear-gradient(to right, var(--tw-gradient-stops)); */
}

.text-gradient {
  /* -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #ff5ea4, #ff7e6b);
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone; */
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(45deg, #ff5ea4, #ff7e6b);
}

.bg::after {
  background-color: #1a0f31;
  content: "";
  background-image: url("/img/stars.svg");
  background-position: 50%;
  background-repeat: repeat;
  background-size: 220px;
  position: fixed;
  inset: 0;
  z-index: -1;
}

::selection {
  background-color: rgba(252, 236, 241, 1);
  color: rgba(245, 62, 113, 1);
}

.header-inside {
  animation: animateGlow 5s ease infinite;
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e 34%,
    #23a6d5 67%,
    #23d5ab
  );
  background-size: 200% 200%;
  margin: 0 auto;
  opacity: 0.85;
  position: absolute;
  inset: 0;
}

.typed-cursor {
  @apply text-white;
}
p {
  @apply mb-4;
}

@keyframes animateGlow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.video-glow:before {
  -webkit-backface-visibility: hidden;
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e 34%,
    #5189ff 67%,
    #6b55ff
  );
  background-size: 100% 100%;
  content: "";
  display: block;
  filter: blur(50px);
  margin: 0 auto;
  opacity: 0.45;
  position: absolute;
  inset: 0;
  transform: scale(0.9);
  transition: 0.3s ease;
  z-index: -1;
}
.video-glow:hover:before {
  @apply opacity-100;
}

.icon {
  @apply text-white bg-gray-900 rounded-full hover:bg-lpink hover:text-white p-2;
}

.icon > svg {
  @apply w-3 h-3 fill-current;
}

summary + div a {
  @apply text-lpink hover:underline decoration-2;
}
